#define HM_TAPPING_TERM 280
#define HM_TAPPING_TERM_FAST 200
#define HM_QUICK_TAP 175
#define HM_PRIOR_IDLE 150


#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS) \
    ZMK_HOLD_TAP(NAME, \
        flavor = "balanced"; \
        tapping-term-ms = <HM_TAPPING_TERM>; \
        quick-tap-ms = <HM_QUICK_TAP>; \
        require-prior-idle-ms = <HM_PRIOR_IDLE>; \
        bindings = <HOLD>, <TAP>; \
        hold-trigger-key-positions = <TRIGGER_POS>; \
        hold-trigger-on-release; \
    )
MAKE_HRM(hml, &kp, &kp, KEYS_R KEYS_T)  // left-hand HRMs
MAKE_HRM(hmr, &kp, &kp, KEYS_L KEYS_TS)  // right-hand HRMs

MAKE_HRM(hml_repeat, &kp, &key_repeat, KEYS_R KEYS_T)  // used for HRM-combo
MAKE_HRM(hmr_lpar_lt, &kp, &lpar_lt, KEYS_L KEYS_T)    // "    "   "   "
MAKE_HRM(hmr_rpar_gt, &kp, &rpar_gt, KEYS_L KEYS_T)    // "    "   "   "
