/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    behaviors {
        td_shft_caps_hypr: td_shft_caps_hypr {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SHFT_CAPS_HYPR";
            #binding-cells = <0>;
            bindings = <&mt LEFT_SHIFT CAPS>, <&kp LC(LA(LS(LGUI)))>;

            tapping-term-ms = <250>;
        };

        td_L3_spc_spc: td_L3_spc_spc {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_L3_SPC_SPC";
            #binding-cells = <0>;
            bindings = <&lt 3 SPACE>, <&kp SPACE>;

            tapping-term-ms = <250>;
        };

        td_shft_capsword: td_shft_capsword {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SHFT_CAPSWORD";
            #binding-cells = <0>;
            bindings = <&kp RSHFT>, <&caps_word>;

            tapping-term-ms = <250>;
        };

        td_cmd_fn: td_cmd_fn {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_CMD_FN";
            #binding-cells = <0>;
            bindings = <&kp RGUI>, <&kp INS>;

            tapping-term-ms = <250>;
        };

        td_up: td_up {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_UP";
            #binding-cells = <0>;
            bindings = <&kp UP>, <&mt LG(UP) LA(UP_ARROW)>;

            tapping-term-ms = <250>;
        };

        td_left: td_left {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_LEFT";
            #binding-cells = <0>;
            bindings = <&kp LEFT>, <&mt LG(LEFT) LA(LEFT)>;

            tapping-term-ms = <250>;
        };

        td_down: td_down {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_DOWN";
            #binding-cells = <0>;
            bindings = <&kp DOWN>, <&mt LG(DOWN) LA(DOWN)>;

            tapping-term-ms = <250>;
        };

        td_right: td_right {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_RIGHT";
            #binding-cells = <0>;
            bindings = <&kp RIGHT>, <&mt LG(RIGHT) LA(RIGHT)>;

            tapping-term-ms = <250>;
        };
    };

    combos {
        compatible = "zmk,combos";

        cb_up {
            bindings = <&kp UP>;
            key-positions = <2 3>;
        };

        cb_down {
            bindings = <&kp LEFT>;
            key-positions = <3 4>;
        };

        cb_leftw {
            bindings = <&kp RIGHT>;
            key-positions = <14 15>;
        };

        cb_right {
            bindings = <&kp DOWN>;
            key-positions = <15 16>;
        };

        cb_DoubleBRC {
            bindings = <&M_DBRC>;
            key-positions = <4 5>;
        };

        cb_DoublePAR {
            bindings = <&M_DPAR>;
            key-positions = <16 17>;
        };

        cb_DoubleBKT {
            bindings = <&M_DBKT>;
            key-positions = <28 29>;
        };

        cb_BackForward {
            bindings = <&mt LG(RBKT) LG(LBKT)>;
            key-positions = <13 14 15>;
        };

        cb_DeleteFile {
            bindings = <&kp LG(BSPC)>;
            key-positions = <2 4>;
        };

        cb_LEnter {
            bindings = <&kp RET>;
            key-positions = <14 15 16>;
        };

        cb_REnter {
            bindings = <&kp RET>;
            key-positions = <19 20 21>;
        };

        cb_JPY {
            bindings = <&kp LA(Y)>;
            key-positions = <7 8>;
        };

        cb_LTGT {
            bindings = <&M_LTGT>;
            key-positions = <30 31>;
        };

        cb_Underscore {
            bindings = <&kp UNDER>;
            key-positions = <31 32>;
        };

        cb_L4Tog {
            bindings = <&tog 4>;
            key-positions = <37 38>;
        };

        cb_L6Tog {
            bindings = <&tog 6>;
            key-positions = <39 40>;
        };

        cb_hash {
            bindings = <&kp HASH>;
            key-positions = <3 15>;
        };
    };

    macros {
        M_DPAR: M_DPAR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LPAR &kp RPAR &kp LEFT>;
            label = "M_DPAR";
        };

        M_DBKT: M_DBKT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBKT &kp RBKT &kp LEFT>;
            label = "M_DBKT";
        };

        M_DBRC: M_DBRC {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBRC &kp RBRC &kp LEFT>;
            label = "M_DBRC";
        };

        M_LTGT: M_LTGT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LT &kp GT &kp LEFT>;
            label = "M_LTGT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // ┌──────┬──────┬──────┬──────┬──────┬──────┐   ┌──────┬──────┬──────┬──────┬──────┬──────┐
            // │ TAB  │ Q    │ W    │ E    │ R    │ T    │   │ Y    │ U    │ I    │ O    │ P    │ -    │
            // │      │      │      │      │      │      │   │      │      │      │      │      │ \    │
            // ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
            // │ `    │ A    │ S    │ D    │ F    │ G    │   │ H    │ J    │ K    │ L    │ '    │ ;    │ 
            // │ ALT  │      │      │      │      │      │   │      │      │      │      │      │ CTRL │
            // ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
            // │ CAPS │ Z    │ X    │ C    │ V    │ B    │   │ N    │ M    │ ,    │ .    │ /    │ SHFT │
            // │ SHFT │      │      │      │      │      │   │      │      │      │      │      │ INS  │
            // └──────┴──────┴──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┴──────┴──────┘
            //                      │ ESC  │ BKSP │ SPC  │   │ RET  │ DEL  │ CWRD │
            //                      │ GUI  │ LWR  │ L3   │   │ L3   │ RSE  │ SHFT │
            //                      └──────┴──────┴──────┘   └──────┴──────┴──────┘

            bindings = <
&kp TAB             &kp Q  &kp W  &kp E         &kp R       &kp T             &kp Y      &kp U      &kp I              &kp O    &kp P     &mt BSLH MINUS
&mt LALT GRAVE      &kp A  &kp S  &kp D         &kp F       &kp G             &kp H      &kp J      &kp K              &kp L    &kp SQT   &mt RCTRL SEMI
&td_shft_caps_hypr  &kp Z  &kp X  &kp C         &kp V       &kp B             &kp N      &kp M      &kp COMMA          &kp DOT  &kp FSLH  &td_cmd_fn
                                  &mt LGUI ESC  &lt 1 BSPC  &td_L3_spc_spc    &lt 3 RET  &lt 2 DEL  &td_shft_capsword
            >;
        };

        lower_layer {
            display-name = "NUMBER";

            // ┌──────┬──────┬──────┬──────┬──────┬──────┐   ┌──────┬──────┬──────┬──────┬──────┬──────┐
            // │ ___  │ HOME │ PGUP │ PGDN │ END  │ %    │   │ ^    │ 7    │ 8    │ 9    │ 0    │ BKSP │
            // │      │      │      │      │      │      │   │      │      │      │      │      │      │
            // ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
            // │ ___  │ LEFT │ UP   │ DOWN │ RGHT │ ENT  │   │ +    │ 4    │ 5    │ 6    │ *    │ ___  │ 
            // │      │      │      │      │      │      │   │      │ SHFT │ GUI  │ ALT  │ CTRL │      │
            // ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
            // │ ___  │ SK   │ SK   │ SK   │ SK   │ DEL  │   │ -    │ 1    │ 2    │ 3    │ ___  │ =    │
            // │      │ CTRL │ ALT  │ GUI  │ SHFT │      │   │      │      │      │      │      │      │
            // └──────┴──────┴──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┴──────┴──────┘
            //                      │ ___  │ ___  │ ___  │   │ ___  │ .    │ ___  │
            //                      │      │      │      │   │      │      │      │
            //                      └──────┴──────┴──────┘   └──────┴──────┴──────┘

            bindings = <
&trans  &kp HOME   &kp PG_UP  &kp PAGE_DOWN  &kp END    &kp PRCNT    &kp CARET  &kp N7        &kp N8       &kp N9       &kp N0          &kp BSPC
&trans  &td_left   &td_down   &td_up         &td_right  &kp RET      &kp PLUS   &mt RSHFT N4  &mt RGUI N5  &mt RALT N6  &mt RCTRL STAR  &trans
&trans  &sk LCTRL  &sk LALT   &sk LGUI       &sk LSHFT  &kp DEL      &kp MINUS  &kp N1        &kp N2       &kp N3       &trans          &kp EQUAL
                              &trans         &trans     &trans       &trans     &kp KP_DOT    &trans
            >;
        };

        raise_layer {
            display-name = "SYMBOL";

            // ┌──────┬──────┬──────┬──────┬──────┬──────┐   ┌──────┬──────┬──────┬──────┬──────┬──────┐
            // │ ___  │ !    │ @    │ #    │ $    │ %    │   │ +    │ HOME │ PGUP │ PGDN │ END  │ ___  │
            // │      │      │      │      │      │      │   │      │      │      │      │      │      │
            // ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
            // │ ___  │ ^    │ &    │ *    │ (    │ )    │   │ |    │ LEFT │ DOWN │ UP   │ RGHT │ :    │ 
            // │      │ CTRL │ ALT  │ GUI  │ SHFT │      │   │      │      │      │      │      │      │
            // ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
            // │ ___  │      │      │      │ {    │ }    │   │ _    │ ~    │ <    │ >    │ ?    │ "    │
            // │      │      │      │      │      │      │   │      │      │      │      │      │      │
            // └──────┴──────┴──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┴──────┴──────┘
            //                      │ [    │ ]    │ SPC  │   │ RET  │ ___  │ ___  │
            //                      │      │      │      │   │      │      │      │
            //                      └──────┴──────┴──────┘   └──────┴──────┴──────┘

            bindings = <
&trans  &kp EXCL         &kp AT         &kp HASH       &kp DLLR        &kp PRCNT    &kp PLUS   &kp HOME   &kp PG_UP  &kp PG_DN  &kp END    &trans
&trans  &mt LCTRL CARET  &mt LALT AMPS  &mt LGUI STAR  &mt LSHFT LPAR  &kp RPAR     &kp PIPE   &td_left   &td_down   &td_up     &td_right  &kp COLON
&trans  &none            &none          &none          &kp LBRC        &kp RBRC     &kp UNDER  &kp TILDE  &kp LT     &kp GT     &kp QMARK  &kp DQT
                                        &kp LBKT       &kp RBKT        &kp SPACE    &kp RET    &trans     &trans
            >;
        };

        fn_layer {
            display-name = "FUNC";

            // ┌──────┬──────┬──────┬──────┬──────┬──────┐   ┌──────┬──────┬──────┬──────┬──────┬──────┐
            // │      │ HYPR │ HYPR │ HYPR │      │ S+G  │   │ S+G  │ F7   │ F8   │ F9   │ F12  │      │
            // │      │ +1   │ +2   │ +3   │      │ +T   │   │ +4   │      │      │      │      │      │
            // ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
            // │ ___  │      │      │      │ GUI  │ GUI  │   │ S+G  │ F4   │ F5   │ F6   │ F11  │ CTRL │ 
            // │      │      │      │      │ +J   │ +H   │   │ +5   │      │      │      │      │      │
            // ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
            // │ L6   │ HYPR │ HYPR │      │      │ A+G  │   │      │ F1   │ F2   │ F3   │ F10  │ L6   │
            // │      │ +O   │ +P   │      │      │ +H   │   │      │      │      │      │      │      │
            // └──────┴──────┴──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┴──────┴──────┘
            //                      │ ESC  │ INS  │ ___  │   │ ___  │ INS  │ ___  │
            //                      │ GUI  │      │      │   │      │      │      │
            //                      └──────┴──────┴──────┘   └──────┴──────┴──────┘

            bindings = <
&none      &kp LC(LA(LS(LG(N1))))  &kp LC(LA(LS(LG(N2))))  &kp LC(LA(LS(LG(N3))))  &kp LS(LG(N2))  &kp LS(LG(T))    &kp LS(LG(N4))  &kp F7   &kp F8  &kp F9  &kp F12  &none
&sk LALT   &kp LC(LA(LS(LG(O))))   &kp LC(LA(LS(LG(P))))   &none                   &kp LG(J)       &kp LG(H)        &kp LS(LG(N5))  &kp F4   &kp F5  &kp F6  &kp F11  &sk RCTRL
&sk LSHFT  &kp LG(K)               &kp LA(LS(LG(V)))       &kp LA(LG(C))           &kp LA(LG(V))   &kp LA(LG(H))    &none           &kp F1   &kp F2  &kp F3  &kp F10  &sk RGUI
                                                           &mt LGUI ESC            &kp INS         &trans           &trans          &kp INS  &trans
            >;
        };

        layer_4 {
            display-name = "PLAY";

            // ┌──────┬──────┬──────┬──────┬──────┬──────┐   ┌──────┬──────┬──────┬──────┬──────┬──────┐
            // │ VOL+ │ J    │ E    │ R    │ L    │ C    │   │      │      │      │      │      │ L4   │
            // │      │      │      │      │      │      │   │      │      │      │      │      │      │
            // ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
            // │ VOL- │ LEFT │ UP   │ DOWN │ RGHT │ F    │   │      │      │      │      │      │      │ 
            // │      │      │      │      │      │      │   │      │      │      │      │      │      │
            // ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
            // │ MUTE │ ,    │ .    │ <    │ >    │ /    │   │      │      │      │      │      │      │
            // │      │      │      │      │      │      │   │      │      │      │      │      │      │
            // └──────┴──────┴──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┴──────┴──────┘
            //                      │      │ L5   │ SPC  │   │      │      │      │
            //                      │      │      │      │   │      │      │      │
            //                      └──────┴──────┴──────┘   └──────┴──────┴──────┘

            bindings = <
&kp C_VOL_UP  &kp J              &kp E    &kp R     &kp L                &kp C        &none  &none  &none  &none  &none  &tog 4
&kp C_VOL_DN  &mt LA(LEFT) LEFT  &kp UP   &kp DOWN  &mt LA(RIGHT) RIGHT  &kp F        &none  &none  &none  &none  &none  &none
&kp C_MUTE    &kp COMMA          &kp DOT  &kp LT    &kp GT               &kp FSLH     &none  &none  &none  &none  &none  &none
                                          &none     &mo 5                &kp SPACE    &none  &none  &none
            >;
        };

        layer_5 {
            display-name = "PAD";

            // ┌──────┬──────┬──────┬──────┬──────┬──────┐   ┌──────┬──────┬──────┬──────┬──────┬──────┐
            // │ ___  │      │ 7    │ 8    │ 9    │ 0    │   │      │      │      │      │      │      │
            // │      │      │      │      │      │      │   │      │      │      │      │      │      │
            // ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
            // │ ___  │ *    │ 4    │ 5    │ 6    │ +    │   │      │      │      │      │      │      │ 
            // │      │      │      │      │      │      │   │      │      │      │      │      │      │
            // ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
            // │ ___  │ /    │ 1    │ 2    │ 3    │ -    │   │      │      │      │      │      │      │
            // │      │      │      │      │      │      │   │      │      │      │      │      │      │
            // └──────┴──────┴──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┴──────┴──────┘
            //                      │ ___  │ ___  │ ___  │   │      │      │      │
            //                      │      │      │      │   │      │      │      │
            //                      └──────┴──────┴──────┘   └──────┴──────┴──────┘

            bindings = <
&trans  &none            &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_N0       &none  &none  &none  &none  &none  &none
&trans  &kp KP_MULTIPLY  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_PLUS     &none  &none  &none  &none  &none  &none
&trans  &kp KP_SLASH     &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_MINUS    &none  &none  &none  &none  &none  &none
                                    &trans     &trans     &trans          &none  &none  &none
            >;
        };

        layer_6 {
            display-name = "ADJUST";

            // ┌──────┬──────┬──────┬──────┬──────┬──────┐   ┌──────┬──────┬──────┬──────┬──────┬──────┐
            // │ BT   │ BT   │ BT   │ BT   │ BT   │ BT   │   │ OUT  │ OUT  │      │      │      │      │
            // │ CLR  │ 1    │ 2    │ 3    │ 4    │ 5    │   │ BLE  │ USB  │      │      │      │      │
            // ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
            // │ BT   │ EP   │ EP   │      │ SYS  │ BOOT │   │ BOOT │ RGB  │ RGB  │ RGB  │ RGB  │      │ 
            // │ CLRA │ OFF  │ ON   │      │ RSET │ LOAD │   │ LOAD │ SPD+ │ BR+  │ SA+  │ HUE+ │      │
            // ├──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┼──────┼──────┤
            // │      │ RGB  │ RGB  │      │ RGB  │ RGB  │   │      │ RGB  │ RGB  │ RGB  │ RGB  │      │
            // │      │ OFF  │ ON   │      │ NEXT │ PREV │   │      │ SPD- │ BR-  │ SA-  │ HUE- │      │
            // └──────┴──────┴──────┼──────┼──────┼──────┤   ├──────┼──────┼──────┼──────┴──────┴──────┘
            //                      │      │      │      │   │      │      │      │
            //                      │      │      │      │   │      │      │      │
            //                      └──────┴──────┴──────┘   └──────┴──────┴──────┘

            bindings = <
&bt BT_CLR      &bt BT_SEL 0       &bt BT_SEL 1      &bt BT_SEL 2  &bt BT_SEL 3     &bt BT_SEL 4       &out OUT_BLE  &out OUT_USB     &none            &none            &none            &tog 6
&bt BT_CLR_ALL  &ext_power EP_OFF  &ext_power EP_ON  &none         &sys_reset       &bootloader        &bootloader   &rgb_ug RGB_SPI  &rgb_ug RGB_BRI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &none
&trans          &rgb_ug RGB_OFF    &rgb_ug RGB_ON    &none         &rgb_ug RGB_EFF  &rgb_ug RGB_EFR    &none         &rgb_ug RGB_SPD  &rgb_ug RGB_BRD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &trans
                                                     &none         &none            &none              &none         &none            &none
            >;
        };
    };
};
